* CSS for styling success and error messages */
.success-message {
    color: #4efb04;
    font-size: 100px;
    font-weight: bold;
    margin-top: 10px;
}

.error-message {
    color: #09f634;
    font-weight: bold;
    margin-top: 10px;
}